.hero {
    text-align: center;
    padding: 3rem 1rem 0 1rem;
}

/*esse será o titulo */
.hero h1{
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
/*esse será o subtitulo */
.hero h2{
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.hero-avatar{
    display: block;
    width: 12rem;
    height: auto; /*altura para ficar proporcional */
    margin: auto;
    margin-bottom: 5rem;
}
