.intro{
    background-color: var(--foreground);
    color: var(--primary-foreground);
    padding: 5rem 0;
    text-align: center;
}
/*vamos arrumar o box */
.intro .box{
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
}
/*arrumar os textos */
.intro .title{
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.intro .subtitle{
    font-size: 1.8rem;
    line-height: 3rem;
}
/*arrumando para responsividade das telas*/
@media(width > 600px){
    .intro .title{
        font-size: 3rem;
    }

    
}