.recent-work {
    text-align: center;
    color: var(--primary);
    padding: 0 2rem;
}

.recent-work .title {
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 8rem;
    margin-bottom: 3.5rem;
}

.recent-work .subtitle {
    font-size: 2rem;
    line-height: 3rem;
}

.recent-work .subtitle a {
    color: var(--foreground);
    text-decoration: none;
}

.recent-work .subtitle a:hover {
    text-decoration: underline;
}

.recent-work .grid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (width > 600px) {
    .recent-work .title {
        font-size: 3.5rem;
    }

    .recent-work .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 900px) {
    .recent-work .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* GRID ITEM */
.recent-work .item {
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
}
.recent-work .item .image {
    width: 100%;
    height: auto;
}


