.skills-overlay{
    background-color: var(--foreground);
    height: 10rem;
}

.skills .container {
    margin-top: -10rem;
}
.skills .grid{
    background-color: var(--background);
    margin: 0 2rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 3px 5px var(--primary-light);
}
.skills .skill{
    text-align: center;
    border-right: 0;
    border-bottom:1px solid var(--primary-light);
    color: var(--primary);
    padding: 5rem 2rem;
}
.skills .skill:last-child{
    border-right: 0;
    border-bottom: 0;
}
@media(width>600px){
    .skills .grid{
        grid-template-columns: repeat(3,1fr);
    }
    .skills .skill{
        border-bottom: 0;
        border-right: 1px solid var(--primary-light);
    }
}